<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>Sistema de Controle de Músicas</title>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-3">
    <a class="navbar-brand" href="">Sistema Musical</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/musicas">Lista de Músicas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/musicas/form">Cadastro</a>
        </li>
      </ul>
    </div>
  </nav>


  <div class="container">

    <h2 class="text-center mb-3">Cadastro de Músicas</h2>

    <% if(errosValidacao) { %>
    <div class="alert alert-danger">
      <ul>
        <% for(var i=0; i < errosValidacao.length; i++) {%>
        <li>
          <%= errosValidacao[i].msg %>
        </li>
        <%}%>

            </ul>
        </div> 
       <%}%>

        <form action="/musicas" method="post">
          <div class="form-row">

            <% if(musica.id ) { %>
            <input type="hidden" id="id" name="id" value="<%=musica.id%>">
            <% } %>

            <div class="form-group col-md-9">
              <label for="nome">Nome</label>
              <input class="form-control" type="text" id="nome" name="nome" value="<%=musica.nome%>">
            </div>

            <div class="form-group col-md-3">
              <label for="duracao">Duração ( em segundos )</label>
              <input class="form-control" type="number" id="duracao" name="duracao" value="<%=musica.duracao%>">
            </div>
          </div>

          <div class="form-group">
            <label for="artistas">Artistas: ( separados por vírgula )</label>
            <textarea class="form-control" cols="20" rows="10" id="artistas"
              name="artistas"><%=musica.artistas%></textarea>
          </div>
          <button class="btn btn-primary" type="submit">Salvar</button>
        </form>
        <div>

          <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

</body>

</html>